<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="ConnectionString" 
         connectionString="Server=localhost; User Id=postgres; Database=City; Port=5432; Password=****; SSL Mode=Prefer; Trust Server Certificate=true"/>-->
    <add name="ConnectionString"
        connectionString="Server=****; User Id=postgres; Database=testbed14; Port=5432; Password=***; SSL Mode=Prefer; Trust Server Certificate=true"/>
  </connectionStrings>
</configuration>